body {
    background-color: #F9F7F7;
    color: #3F72AF;
}
hr {
    border-top: 6px dotted  #DBE2EF;
    width: 3%;
}
h1 {
    color: #112D4E;
 }
h3 {
    color: #112D4E;
  }
  strong {
    color: #112D4E;
}
p {
    color: #3F72AF;
}
table {
    border-spacing: 20px;
}
